/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 85%;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

/* COMMON */ 
img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

i {
    padding: 0 .4em;
}
span.icon {
    line-height: 3em;

}



.mt-08 {
    margin-top: .8em;
}

.mt-10 {
    margin-top: 1em;
}

.mb-20 {
    margin-bottom: 2em;
}

.mb-40 {
    margin-bottom: 4em;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* li {
    border: 2px solid rgb(39, 77, 1);
}

p {
    border: 2px solid yellow;
}

h1,h2,h3,h4,h5,h6 {
    border: 2px solid magenta;
}

section {
    border: 3px solid lightgreen; */
}

/* BUTTONS */

.btn {
    margin: 1.5em 0;
}
.small-btn {
    padding: .2em 1.2em; 
}

.large-btn {
    padding: .7em 1.4em;
}

div.col-btn {
    /* margin-bottom: 2em; */
    width: 100%;
    padding: .8em 0;
    text-align: center;
    background-color: #0061ff;
}

a.blue-btn {
    color: #ffffff;
    background-color: #0061ff;
}

a.light-btn {
    border: 1px solid #000000;
    color: #000000;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 6em auto 0;
    width: 66%;
    /* border: 2px solid darkorange; */
}

.col {
    float: left;
    /* border: 2px solid blue; */
}

.col-side,
.col-center {
    width: 30%;
}

/* HEADER */
.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    line-height: 80px;
    background-color: #ffffff;
}

.header .col.logo {
    padding-left: 1em;
    width: 9%;
}

.logo img {
    vertical-align: middle;
}

.header .col.links01 {
    width: 41%;
}

.header .col.links02 {
    padding-right: 1em;
    width: 50%;
    text-align: right;
}

.header li {
    display: inline-block;
    margin-left: 2em;
    line-height: 2em;
}

header a {
    color: #000000;
}

/* JUMBOTRON */
.jumbotron {
    padding-top: 90px;
    width: 100%;
    background-color: #b4d0e7;
}

.jumbo-frame,
.footer-frame {
    margin: 0 auto;
    width: 82%;
}

.jumbo-frame .clearfix {
    position: relative;
    top: 50px;
}

.jumbo-frame h1 {
    width: 100%;
    min-width: 900px;
    font-size: 5em;
    
}

.col.jumbo-text {
    padding-right: 5em;
    width: 40%;
}

.col.jumbo-text>* {
    margin-bottom: 3em;
}

.col.jumbo-text i {
    font-size: 3em;
}

.col.jumbo-img-frame {
    width: 60%;
}

.col.jumbo-img-frame img {
    width: 50%;
    min-width: 650px;
    max-width: 800px;
}

/* MAIN */
/* PLANS */
.plans .col-side,
.plans .col-center{
    min-height: 600px;
}

.col-center {
    margin: 0 5%;
}


 h2 {
    margin: 4em 0 1em 0;
    font-size: 2.2em;
    
}

.border-1 {
    border: 1px solid #d6d6d6;

}

.join,
.cta {
    font-size: .8em;

}

.plans .col {
    margin-bottom: 4em;
    min-height: 900px;
    
}

h6.plan-target {
    padding: .7em 1em;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.plan-details {
    padding: 1.5em;
}

.plan-details h4 {
    margin-bottom: .8em;
    font-size: 1.8em;
}

.plan-details ul {
    margin-bottom: 2em;
}

.price {
    margin-bottom: .6em;
    font-size: 1.3em;
    font-weight: 700;
}

.price-details {
    margin-bottom: 3em;
    color: #b8b8b8;
}

.plan-details ul div {
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
}

a.underline {
    color: #0061ff;
    text-decoration: underline;
}

.plan-details div.description {
    width: 85%;
}

.plan-details span {
    padding-bottom: 2em;
    border-bottom: 1px solid #d6d6d6;
}

.plan-details h5 {
    margin: 4em 0 1.5em 0;
    font-size: 1.1em;
}

.icon.check {
    color: #0061ff;
}

.wide {
    padding: 2em;
}
.col.enterprise {
    width: 65%;
}

.col.contact-btn {
    width: 35%;
}

.col h4 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.col.enterprise h5 {
    margin-bottom: 1em;
    font-size: 1em;
    
}

/* PARTNER */
.partner {
    margin: 10em 0 6em 0;
}
.partner .col-img {
    width: 55%;
}

.partner .col-text {
    padding: 2em 0 0 2em;
    width: 45%;
}



/* FEATURES */
.features {
    font-size: .8em;
}


/* CTA */
.cta h2 {
    max-width: 60%;
}












/* PARTENR COMPANIES */
section.companies {
    background-color: aquamarine;
}

.companies .col-center {
    margin: 0;
    width: calc(100% - 80vh);
}

.companies .col-side {
    width: 40vh;
}

.col .col-half {
    height: 100%;
    width: 50%;
    /* border: 3px solid rebeccapurple; */
    text-align: center;
}

.col-half .company {
    line-height: 20vh;
    height: 20vh;
}


.col-half img {
    width: 50%;
    vertical-align: middle;
    
    border: 1px solid red;
}

/* FOOTER */
.footer-frame .col {
    margin-right: 2em;
    width: calc(20% - 2em);
}