/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
}

/* COMMON */
img {
    width: 100%;
}

ul {
    
    /* list-style: none; */
}

a {
    text-decoration: none;
}

li {
    border: 2px solid rgb(39, 77, 1);
}

p {
    border: 2px solid yellow;
}

h1,h2,h3,h4,h5,h6 {
    border: 2px solid magenta;
}

section {
    border: 3px solid lightgreen;
}

.btn {
    border: 2px solid red;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 6em auto 0;
    width: 66%;
    border: 2px solid darkorange;
}

.col {
    float: left;
    border: 2px solid blue;
}

/* HEADER */
.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: aquamarine;
}

.header .col {
    height: 80px;
}

.header .col.logo {
    padding-left: .5em;
    width: 9%;
}

.logo img {
    vertical-align: middle;
}

.header .col.links01 {
    width: 41%;
}

.header .col.links02 {
    width: 50%;
}

.header li {
    display: inline-block;
    margin-left: 2em;
    line-height: 2em;
    font-size: .75em;
}

.links02 {
    text-align: right;
}

/* JUMBOTRON */
.jumbotron {
    padding-top: 90px;
    width: 100%;
    background-color: lightskyblue;
}

.jumbo-frame,
.footer-frame {
    margin: 0 auto;
    width: 82%;
}

.jumbo-frame h1 {
    width: 100%;
    border: 2px solid fuchsia;
}

.jumbo-frame .col {

}

.col.jumbo-text {
    width: 40%;
}

.col.jumbo-img-frame {
    width: 60%;
}

/* MAIN */
/* PLANS */
.col-side,
.col-center{
    width:30%;
}

.col-center {
    margin: 0 5%;
}

.col.enterprise {
    width: 70%;
}

.col.contact-btn {
    width: 30%;
}

/* PARTNER */
.partner .col-img {
    width: 55%;
}

.partner .col-text {
    margin-left: 5%;
    width: 40%;
}


/* PARTENR COMPANIES */
section.companies {
    background-color: aquamarine;
}

.companies .col-center {
    margin: 0;
    width: 40%;
}
.companies .col-half {
    width: 50%;
    /* height: 100%; */
    text-align: center;
}


.col-half img {
    vertical-align: middle;
    width: 50%;
}

/* FOOTER */
.footer-frame .col {
    margin-right: 2em;
    width: calc(20% - 2em);
}